.all-jobs {
    margin: 1rem;
    margin-top: 3rem;
    width: 70%;
    flex-grow: 1;
}

.me {
    transform: translateX(-20px);
    margin-bottom: 10px;
}

.all-job {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
}
.all-job-search {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
}
.h-w {
    transform: translateY(.7rem);
}

.search-fields {
    height: 2.5rem;
    width: 100%;
    outline: none;
}

select {
    background-color: #082B5D;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    height: 2rem;
    text-align: center;
    border-radius: 2px;
    margin: 3px;
    width: 10rem;
}

.job-details {
    background-color: #EDF9FF;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination-item.active {
    background-color: #333;
    color: #fff;
  }
  
  .pagination-item:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
@media (max-width:966px){
    .all-jobs {
        
        width: 100%;
       
    }
    select {
        
        border-radius: 4px;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }
    .justify-content-center{
        justify-content: space-between;
    } 
}
@media (max-width:919px){
    
    select{
        width: 25%;
        padding-left: 4px;
        padding-right: 4px;
    }

    .job-details{
        width: 100%;
    }
}

@media (max-width:500px){
    button {
        width: auto !important ;
    }
}