.profiles {
    height: 4.66rem;
    width: 4.66rem;
    border-radius: 50%;
    background-color: #133d7a;
    cursor: pointer;
  }
  .p-texts {
    color: #ffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    transform: translateY(23px);
    text-align: center;
  }
  .my-profiles {
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans";
    cursor: pointer;
  }

.empty {
    display: none;
}