.p {
    font-size: 11px;
    font-weight: 300;
    font-family: "Open Sans";
}
.title {
    font-size: 13px;
    margin: .5px;
    font-weight: 600;
    font-family: "Open Sans";
}

.details {
    height: 9rem;
}

button {
    height: 2rem;
    width: 11rem;
    text-align: center;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid#486284;
    font-weight: 300;
    font-family: "Open Sans";
    text-transform: uppercase;
    margin-right: 1rem;
}

.p-t {
    transform: translateY(.8rem)
}