.navbar {
  box-shadow: 0px 0.1px 0.1px 0.1px #000;
  height: 3.6rem;
}
.logo {
  height: 2.5rem;
}
.moto {
  font-size: 12px;
  font-family: "Open Sans";
  fill: #8f8f8f;
  color: #8f8f8f;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-align: center;
  margin: 8px;
}



.class {
  width: 25%;
}
.profile {
  height: 1.66rem;
  width: 1.66rem;
  border-radius: 50%;
  background-color: #133d7a;
  cursor: pointer;
}
.p-text {
  color: #ffff;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
  transform: translateY(5px);
  text-align: center;
}
.my-profile {
  font-size: 10px;
  font-weight: 600;
  font-family: "Open Sans";
  cursor: pointer;
}
.transY {
  margin-left: 3px;
  transform: translateY(-7px);
}

.transYs {
  margin-left: 2.5rem;
  transform: translateY(-7px);
}


/* Nav */

/* images */


img {

  display: block;
}
.nav{
  width: 100%;
  max-width: 1440px;
  height: 78px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  border-bottom: 1px solid #DEE5ED;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 6px;
  overflow: hidden;
  box-sizing: border-box;
}

.nav-wrapper{
  width: 87.6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left{
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo-title{
  color: #8F8F8F;
  font-size: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18.88px;
  margin: 0;
}
.nav-right{
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav-right p{
  margin: 0;
}
.nav-icon{
  width: 40px;
  height: 40px;
}
.nav-logo{
  width: 57px;
  height: 62.344px;
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-all-jobs{ 
  gap:5px;
}
.nav-candidate{
  gap:6px
}
.nav-profile{
  gap: 6px;
}
.nav-profile-arrow{
  display: flex;
  gap: 5px;
  align-items: center;
}

.handburger{
  font-size: 2rem; 
  display: flex; 
  align-items: center;
  
}
.mobile-nav{
  position: absolute;
  right:2rem;
  top: 10px;
  display: none;
}
@media (max-width:760px){
  .mobile-nav{
    display: block;
    transform: translateX(-350px);
  }
  .nav-right{
    display: none;
  }
  .nav-left{
    display: none;
  }
  .nav{
    height: 80px;
    border-bottom:none;
    background: #fff;
    box-shadow: 0.1px 0.1px;
  }
}

.mobile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 10;
}

.b-d {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}